<!--Main page text and search-->
<div class="container" id="upper_mpt">
  <p>
    That was <%=@companyName%> Sonified!
  </p>
</div>

<div id="lower_mpt">
  <p>
    Enter a stock quote and to hear another!
  </p>
</div>
<!--/ Main page text and search-->

<div id="main_search">
   <%= form_tag bling_path, class: 'form-search' do %>
      <div class="input-append">
       <%= text_field_tag :ticker, nil, class: 'span4 search-query' %>
       <%= submit_tag 'Submit', name: 'commit', class: 'btn' %></br>
      </div>
   <% end %>
</div>

<% if @path %>
  <span>
    <embed width="0" height="0" src = "<%=@path%>">
  <span>
<% end %>