#signup_container{class:'row-fluid'}
  #signup_ut.span7.offset3
    %p
      Signup and get customizations!
  %br
  %br
  %br
  %br
  .span4.offset3
    = form_for(@user, :html => {class:'form-horizontal'}) do |f|
      %div{class:'control-group'}
        = f.label(:username, {id:'inputUsername'})
        =f.text_field(:username)
      %div{class:'control-group'}
        = f.label(:email, {id:'inputEmail'})
        = f.text_field :email
      %div{class:'control-group'}
        = f.label(:password, {id:'inputPassword'})
        = f.password_field :password
      %div{class:'control-group'}
        = f.submit 'Start', class:'btn'
%br


= render partial: 'shared/errors', locals:{object:@user}
          