<!DOCTYPE html>
<html>
<head>
  <title>Bling</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar" >
   <nav class="navbar-inner">
     <nav class="container">
       <ul class="nav">
         <a class="brand" href="/" id="nav">Blings</a>
         <li class="divider-vertical"></li>
         <span class="span1"></span>
         <% if current_user %>
           <li class="divider-vertical"></li>
           <%= link_to('Log-Out', '/logout', {:method=>:delete, :class=>"brand", :id=>"logout"} ) %>
         <% else %>
           <li class="divider-vertical"></li>
            <%= link_to('New User', new_user_path, {:class=>"brand", :id=>"login"}) %>
           <li class="divider-vertical"></li>
           <%= link_to('Log-In', sessions_new_path, {:class=>"brand", :id=>"login"}) %>
         <% end %>
       </ul>
     </nav>
   </nav>
 </nav>

<%= yield %>

</body>
</html>





